{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>bungkusaja</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bungkus.css' %}">
</head>

<body style="background-color: #DBAC83;">
    <nav class="sticky-top top_navigation">
        <a><img src="logo.png" height="25vh"></a>
        <a href="#home">home</a>
        <a href="#feedback">feedback</a>
        <a style="float:right" class="active" href="#mitra">mitra</a>
      </nav>

      <div class="jumbotron" style="background: transparent">
        <div class="container-fluid">
    
          <div class="row flex-container">
            <div class="col-sm-4 m-auto"></div>
    
            <div class="col-sm-4 flex-container mx-auto d-block" >
              <img src="logo.png" class="img-fluid" alt="Responsive image" style="position: center">
            </div>
    
            <div class="col-sm-4 m-auto"></div>
          </div>

          <br>
          <br>
          <br>
          
          <div class="row flex-container">
            <div class="col-sm-5 m-auto"></div>
    
            <div class="col-sm-2 m-auto" style="text-align: center">
              <a href="buat.html"><img src="BUATBuatButton.png" class="img-fluid" alt="Responsive image"></a>
            </div>
            
            <div class="col-sm-5 m-auto"></div>
          </div>
    
        </div>
      </div>
      {% block content %}
      {% end block %}
</body>
</html>