{% extends 'base.html' %}

<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Detail Pengiriman</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyles.css' %}">
</head>
<body>
	<!-- navbar -->
	<div class="col-7 padding">
		<div class="row justify-content-center">
			<p>Detail pengiriman</p>
		</div>
	</div>
	
	<form> <!-- need an action-->
		<div class="form-group row justify-content-center padding">
			<div class="col-1">
				<label for="exampleInputNama"> Nama </label>
			</div>
			<div class="col-4">
				<input class="form-control" type="text">
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class="col-1">
				<label for="exampleInputNama"> No. Telp </label>
			</div>
			<div class="col-4">
				<input class="form-control" type="text">
			</div>
		</div>
		<div class="form-group row justify-content-center">
			<div class="col-1">
				<label for="exampleInputNama"> Alamat </label>
			</div>
			<div class="col-4">
				<input class="form-control panjang" type="text">
			</div>
		</div>
		<div class="row justify-content-center padding">
				<input type="submit" value="KONFIRMASI">
		</div>
	</form>
	{% block content %}
</body>
</html>