<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Detail Pengiriman</title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/mystyles.css' %}">
</head>
<body>
	<!-- navbar -->
	<div class="col-4 padding">
		<div class="row justify-content-center">
			<p>Detail pengiriman</p>
		</div>
	</div>
	<div class="container">
		<div class="row" style="background-color: #775433">
			<div class="col-sm">
				Nama
			</div>
			<div class="col-sm">
				No. Telp
			</div>
			<div class="col-sm">
				Alamat
			</div>
		</div>
		<div class="row form" style="background-color: #C4C4C4">
			<div class="col">
				isi Nama
			</div>
			<div class="col">
				isi No. Telp
			</div>
			<div class="col">
				isi Alamat
			</div>
		</div>
		<div class="row" style="background-color: #DBAC83">
			<div class="col">
			
			</div>
			<div class="col">
			Ongkir
			</div>
		</div>
	</div>
</body>
</html>