.background_home {
    background-color: #DBAC83;
}

.top_navigation {
    background: #C4C4C4;
    font-family: Helvetica Rounded LT Std;
    font-size: 2vh;
    width: 100%;
    height: 5.5vh;
  }

  .top_navigation a {
    float: left;
    color: #775433;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    display: inline;
  }

  .top_navigation a:hover {
    text-decoration: underline;
  }

  .top_navigation a.active {
    color: black;
    
  }

  .buttons {

  }

  .buttons a {

  }

  .buttons a:hover {
    box-shadow: 5px 5px 5px black;
  }

  .buttons a:active {
      box-shadow: 5px 5px 5px black;
  }

  .kelasFont {
    font-family: Helvetica Rounded LT Std;
  }