<!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>bungkusaja</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bungkus.css' %}" rel="stylesheet">

</head>

<body style="background-color: #DBAC83;">
  <nav class="sticky-top top_navigation">
      <a><img src="{% static 'images/logo.png' %}" height="25vh"></a>
      <a href="#home">home</a>
      <a href="#feedback">feedback</a>
      <a style="float:right" class="active" href="#mitra">mitra</a>
    </nav>

    <div class="jumbotron" style="background: transparent">
      <div class="container-fluid">
  
        <div class="row flex-container">
          <div class="col-sm-4 m-auto"></div>
  
          <div class="col-sm-4 flex-container mx-auto d-block" >
            <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="Responsive image" style="position: center">
          </div>
  
          <div class="col-sm-4 m-auto"></div>
        </div>

        <br>
        <br>
        <br>
        
        <div class="row flex-container">
          <div class="col-sm-5 m-auto"></div>
  
          <div class="col-sm-2 m-auto" style="text-align: center">
            <a href="buat.html"><img src="{% static 'images/BUATBuatButton.png' %}" class="img-fluid" alt="Responsive image"></a>
          </div>
          
          <div class="col-sm-5 m-auto"></div>
        </div>
  
      </div>
    </div>
</body>
</html>
