!DOCTYPE html>

{% load static %}

<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>bungkusaja</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/bungkus.css' %}" rel="stylesheet">

</head>

<body style="background-color: #DBAC83;">
  <nav class="sticky-top top_navigation">
      <a><img src="{% static 'images/logo.png' %}" height="25vh"></a>
      <a href="#home">home</a>
      <a href="#feedback">feedback</a>
      <a style="float:right" class="active" href="#mitra">mitra</a>
    </nav>

    <div class="form-row">
        <div class="col-sm-1"></div>
        <div class="form-group col-sm-10">
            {% for fields in form %}
                {{ fields.label_tag }}
                <br>
                {{ fields }}
            {% endfor %}
        </div>
    </div>
    <div class="form-row">
        <div class="col-sm-1"></div>
        <input type="submit" class="btn btn-primary float-right" value="Add">
    </div>
</body>