<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Bungkusaja - About Us</title>  
     {% load staticfiles %} 
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>  
    
<body id="white-bg">
    
    <!-- Navigation Bar -->
    {% include 'navbar.html' %}
    
<div class="container " id="testi" style="margin-top: 100px; text-align: left">
    <h1>Testimoni</h1>
</div>
    <div class=middle-confirmed style="display: flex; justify-content: center;">
        <table class="table table-striped table-bordered table-sm" align="center" style="align-self: center; width: 75%;">  
            <thead class="thead-choco">   
                <tr>
                    <th>Reviewer</th>  
                    <th>E-mail</th>  
                    <th>Review</th>  
                    <th>Rating</th>  
                    <th>Action</th>  
                </tr>  
            </thead>  
            <tbody>  
                {% for responses in responses %}  
                <tr>  
                    <td>{{ responses.ename }}</td>  
                    <td>{{ responses.eemail }}</td>  
                    <td>{{ responses.ereview }}</td>
                    <td>{{ responses.erating }}</td> 
                    <td>  <a href="/delete/{{ responses.id }}">Delete</a>  </td>  
                </tr>  
            {% endfor %}  
            </tbody>  
        </table>  
    </div>
<br>  
<br>   
</body>  
</html>