<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Bootstrap core CSS -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
    
<body id="navbar">
    
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-customgrey fixed-top">
    <div class="container">
        <a class="navbar-brand-custom" href=""><img src="{% static 'images/logo.png' %}" height="25vh"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href=""><b>Home</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Responses:review' %}"><b>Review</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href=""><b>Mitra</b></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'Responses:feedback' %}"><b>Feedback</b></a>
                </li>
            </ul>
        </div>
    </div>
    </nav>
    
    {% block content %}
    {% endblock content %}
    </body>
</html>

<script>
    window.addEventListener('scroll', () => {
   let children = parent.getElementsByTagName('div');
   for(let i = 0; i < children.length; i++) {
     children[i].style.transform = 'translateY(-' + (window.pageYOffset * i / children.length) + 'px)';
   }
}, false)</script>
