<!DOCTYPE html>
{% load static %}
<html lang="en">
    
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="let USER to write reviews regarding their experiences using BUNGKUSAJA">
    <meta name="author" content="made by Muhammad Zakiy Saputra">
    
    <title>bungkusaja - Fill a Review</title>  

    <!-- Bootstrap core CSS, semi-edited by Zakiy -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    
</head>
    
<body id="white-bg">
    
    <!-- Navigation Bar -->
    {% include 'navbar.html' %}
    
    {% block content %}
    <form method="POST" class="post-form" action="/review/">  
    {% csrf_token %}
    <center>
    <div class="container" id="middle-assurance">  
        <br>  
        <div class="form-group row" style="display: flex; justify-content: center;">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <h3>Testimoni</h3>  
            </div>  
        </div>  
        <div class="form-group row" style="display: flex; justify-content: center;">  
            <label class="col-sm-2 col-form-label">Name:</label>  
            <div class="col-sm-4">  
                {{ form.ename }}  
            </div>  
        </div>  
        <div class="form-group row" style="display: flex; justify-content: center;">  
            <label class="col-sm-2 col-form-label">Email:</label>  
            <div class="col-sm-4">  
                {{ form.eemail }}  
            </div>  
        </div>  
        <div class="form-group row" style="display: flex; justify-content: center;">  
            <label class="col-sm-2 col-form-label">Review:</label>  
            <div class="col-sm-4">  
                {{ form.ereview }}  
            </div>  
        </div>  
        <div class="form-group row" style="display: flex; justify-content: center;">  
            <label class="col-sm-2 col-form-label">Rating:</label>  
            <div class="col-sm-4">  
                {{ form.erating }}  
            </div>  
        </div>
        <div class="form-group row" style="display: flex; justify-content: center;">  
            <label class="col-sm-1 col-form-label"></label>  
            <div class="col-sm-4">  
                <button type="submit" class="btn btn-primary">Kirim</button>  
            </div>  
        </div>
    </div>  
    </center>
</form>
    {% endblock content %}
</body>  
</html>